.picture__section {
display: none;
}

@media screen and (min-width: 768px) {
.picture__section {
display: none;
}
}

@media screen and (min-width: 1200px) {
.picture__section {
display: flex;
justify-content: center;
padding-top: 94px;
padding-bottom: 94px;
}
.picture__container {
justify-content: center;
align-items: center;
background-color: #ffffff;
}

.picture__title {
display: flex;
justify-content: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}

.picture__list {
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}

.picture__wrapper {
position: relative;
}

.picture__overlay {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 20%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(47, 48, 58, 0.8);
color: #ffffff;
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
}