.modal-form-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.modal-form-field-text:nth-child(4) {
    display: block;
    margin-bottom: 20px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-timing-function);

    &:focus {
        outline: none;
        border-color: var(--accent-color--);
        }

    .modal-form-field:focus-within &,
    .modal-form-field:hover & {
        border: 1px solid var(--accent-color--);
        }
}

.modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-field-tag {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}


.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill var(--transition-timing-function);

    &:hover,
    &:focus {
        cursor: pointer;
        fill: var(--accent-color--);
        }
    
    .modal-form-input:focus+ & {
        fill: var(--accent-color--);
        }
        
    .modal-form-field:focus-within &,
    .modal-form-field:hover & {
        fill: var(--accent-color--);
    }
}

.modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color var(--transition-timing-function);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        }
    
    &:focus {
        outline: none;
        border-color: var(--accent-color--);
        }

    .modal-form-field-text:hover &,
    .modal-form-field-text:focus & {
            border: 1px solid var(--accent-color--);
    }
}

.modal-form-check {
    position: absolute;
    appearance: none;
}

.modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    cursor: pointer;
    border: 1px solid var(--accent-color--);
    border-radius: 4px;
    margin-right: 7px;
    transition: background-color var(--transition-timing-function),
    box-shadow var(--transition-timing-function);

.modal-form-check:checked+ & {
        background-color: var(--accent-color--);
        }
        
.modal-form-check:checked+ & {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
} 

.modal-form-own-checkbox-icon {
    display: none;
    fill: #FFFFFF;
    transition: fill var(--transition-timing-function);

.modal-form-check:checked+.modal-form-own-checkbox> & {
    display: block;
    }
}

.submit-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color--);
}

.modal-form-submit {
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: #ffffff;
        color: #2196F3;
        }
}