h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* кнопка замовити послугу */

button {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    align-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    color: #757575;
}

/* прибираємо булети і підкреслювання */
.link {
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
}

.list {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    column-gap: 30px;
}

.menu list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.menu-items {
    display: flex;
column-gap: 50px;
}

