.section {
    background-color: #ffffff;
    padding-top: 94px;
    padding-bottom: 0;
}

.section-portfolio {
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 89px;
    padding-bottom: 94px;
}